.footer {
    background-color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 0%;
    width: 100%;
    padding: 1% 0 0 0;
    height: auto;
}

.icone {
    display: flex;
    justify-content: space-between;
    width: 30px;
    margin: 0 10px;
}

.icone:hover{
    transform: scale(1.05);
}

.copy {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0.5% 0 0.5% 0;
    width: 100%;
}