:root {
    --bg-color: #1b172d;
    --details-color: #ff4576;
    --sub-menus: #2d2b47;
    --text-color: #26223D;
    --text2-color: #fff;
    /*
    Ordem da paleta:
    #2D2B47;
    #26223D;
    #1b172d;
    #ff4576;
    #fff;
    var(--sub-menus);
    var(--text-color);
    var(--bg-color);
    var(--details-color);
    var(--text2-color)*/
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin: 0% 0% 8% 0%;
}

main {
    margin-top: 124px;
}