.forgotPassword{
    margin-left: 35px;
}

.hidden{
    display: none;
}

.forgotPassword{
    text-decoration: none;
    font-weight: bold; 
}

.form-check-label{
    font-weight: bold; 
}

.btn-bg-color{
    background-color:  var(--details-color);
    border-color:  var(--details-color);
}

.btn-bg-color:hover{
    background-color:  rgba(255,45,76,0.6);
    border-color:  rgba(255,45,76,0.6);
}