main {
    margin-top: 160px;
}

.container {
    height: auto;
    width: 70%;
}

.card {
    background-color: var(--sub-menus);
    color: var(--text2-color);
}

a {
    display: inline-flex;
}

.icon-img {
    height: auto;
    width: 30%;
    margin: 1% 5%;
}