body {
    background-color: #1b172d;
}

.container {
    height: auto;
    width: 70%;
}

.card {
    background-color: #2d2b47;
    color: #fff;
}

.icon-img {
    height: 15%;
    width: 15%;
    margin: 0 3%;
}

/* .icon-overlay {
    opacity: 0;
    height: 15%;
    width: 15%;
    margin: 0 3%;
}

.icon-overlay:hover{
    opacity: 100%;
} */