.form-control {
    color: #111111;
    border-color: var(--details-color);
}

.hidden {
    display: none;
}

main{
    margin-top: 180px;
}

.btn-bg-color{
    background-color:  var(--details-color);
    border-color:  var(--details-color);
}

.btn-bg-color:hover{
    background-color:  rgba(255,45,76,0.6);
    border-color:  rgba(255,45,76,0.6);
}

.modal-header{
    background-color: var(--text-color);
}

.modal-body{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-footer{
    background-color: var(--text-color);
}